<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tvds.newtvdsbackend.mapper.DetectionResultMapper">

    <resultMap id="BaseResultMap" type="com.tvds.newtvdsbackend.domain.entity.DetectionResult">
        <id property="id" column="id" />
        <result property="taskId" column="task_id" />
        <result property="direction" column="direction" />
        <result property="detectionTime" column="detection_time" />
        <result property="detectionConf" column="detection_conf" />
        <result property="abnormalityDesc" column="abnormality_desc" />
        <result property="isAbnormal" column="is_abnormal" />
        <result property="componentId" column="component_id" />
        <result property="componentImagePath" column="component_image_path" />
        <result property="x1" column="x1" />
        <result property="y1" column="y1" />
        <result property="x2" column="x2" />
        <result property="y2" column="y2" />
    </resultMap>

    <sql id="Base_Column_List">
        id,task_id,direction,detection_time,detection_conf,abnormality_desc,
        is_abnormal,component_id,component_image_path,x1,y1,
        x2,y2
    </sql>
    <select id="selectComponentCountByTaskId" resultType="com.tvds.newtvdsbackend.domain.vo.DetectionComponentTypeVO">
        SELECT c.id     AS component_id,
               c.component_type,
               c.component_name,
               COUNT(*) AS count
        FROM detection_result dr
                 JOIN component c ON dr.component_id = c.id
        WHERE dr.task_id = #{taskId}
          AND dr.direction = #{direction}
          AND c.is_deleted = 0
        GROUP BY c.id,
                 c.component_type,
                 c.component_name
    </select>
    <select id="getDetectionComponentDetailInfoPage"
            resultType="com.tvds.newtvdsbackend.domain.vo.DetectionComponentPartVO">
        SELECT dr.id               AS result_id,
               dr.detection_conf   AS detection_conf,
               dr.is_abnormal      AS is_abnormal,
               dr.x1               AS x1,
               dr.y1               AS y1,
               dr.x2               AS x2,
               dr.y2               AS y2,
               dr.direction        AS direction,
               rv.id               AS vehicle_id,
               dt.created_at       AS task_created_at,
               dt.updated_at       AS task_updated_at,
               rv.vehicle_info     AS vehicle_info,
               rv.vehicle_desc     AS vehicle_desc,
               rv.record_station   AS record_station,
               rv.vehicle_identity AS vehicle_identity,
               rv.travel_direction AS travel_direction,
               rv.bureau           AS bureau,
               rv.section          AS section,
               rv.created_at       AS vehicle_created_at
        FROM detection_result dr
                 JOIN detection_task dt ON dr.task_id = dt.id
                 JOIN railway_vehicle rv ON dt.vehicle_id = rv.id
        WHERE dr.task_id = #{taskId}
          AND dr.direction = #{direction}
          AND dr.component_id = #{componentId}
          AND dt.is_deleted = 0
        ORDER BY dr.x1
    </select>
</mapper>
