<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tvds.newtvdsbackend.mapper.RailwayVehicleMapper">

    <resultMap id="BaseResultMap" type="com.tvds.newtvdsbackend.domain.entity.RailwayVehicle">
            <id property="id" column="id" />
            <result property="imagePath" column="image_path" />
            <result property="vehicleInfo" column="vehicle_info" />
            <result property="isDeleted" column="is_deleted" />
            <result property="createdAt" column="created_at" />
            <result property="vehicleDesc" column="vehicle_desc" />
    </resultMap>

    <sql id="Base_Column_List">
        id,image_path,vehicle_info,is_deleted,created_at,vehicle_desc
    </sql>
</mapper>
